Port {{ pillar['ssh']['server']['port']|default('22') }} 
AddressFamily inet
ListenAddress {{ ipaddr }}

KexAlgorithms {{ pillar['ssh']['server']['kex_algorithms'] }}
Ciphers {{ pillar['ssh']['server']['ciphers'] }}
MACs {{ pillar['ssh']['server']['macs'] }}

HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility {{ pillar['ssh']['server']['syslog_facility']|default('AUTH') }}
LogLevel {{ pillar['ssh']['server']['log_level']|default('INFO') }}

LoginGraceTime {{ pillar['ssh']['server']['login_grace_time']|default('30s') }}
PermitRootLogin {{ pillar['ssh']['server']['permit_root_login']|default('no') }}
StrictModes yes
MaxAuthTries {{ pillar['ssh']['server']['max_auth_retries']|default('3') }}
MaxSessions {{ pillar['ssh']['server']['max_sessions']|default('2') }}

PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2

HostbasedAuthentication no
IgnoreRhosts yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no

UsePAM yes

AllowAgentForwarding {{ pillar['ssh']['server']['allow_agent_forwarding']|default('no') }}
AllowTcpForwarding {{ pillar['ssh']['server']['allow_tcp_forwarding']|default('no') }}
GatewayPorts no
X11Forwarding no
PermitTTY yes
PrintMotd no
PrintLastLog yes
#UsePrivilegeSeparation sandbox			# As per documentation, this is considered depricated and turned on by default.
PermitUserEnvironment no

Compression no

ClientAliveInterval 300
ClientAliveCountMax 0
TCPKeepAlive no

UseDNS no
PidFile /var/run/sshd.pid
MaxStartups 10:30:100
PermitTunnel {{ pillar['ssh']['server']['permit_tunnel']|default('no') }}
#ChrootDirectory none
VersionAddendum none

Banner /etc/issue.net
DebianBanner no

AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

AllowGroups	{{ pillar['ssh']['server']['allow_groups'] }}

{{ pillar['ssh']['server']['other_settings'] }}
